    <div class="container">
       <div class="side">
 
         <div class="top">
            <%= image_tag "instaic.svg" , class:"instaic", alt:"Instagram-clone icons" %>
            <h1> Instagram Clone</h1>
        </div> 

            <div class="form">
              <%= form_with(model: @user, local: true) do |fuser| %> 
                 <% if @user.errors.any? %>
                    <div id="error_explanation">
                        <h2> il y a <%= @user.errors.count %> erreurs</h2>
                        <ul>
                            <% @user.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <%= fuser.text_field :name, class:"field", placeholder: 'Nom' %> 
                <%= fuser.email_field :email , class:"field", placeholder: 'Adresse e-mail' %>
                <%= fuser.file_field :profile_pic, class:"field"%> 
                <%= fuser.hidden_field :profile_pic_cache, class:"field"%> 
                <%= fuser.password_field :password, class:"field", placeholder: 'Nouveau mot de passe' %>  
                <%= fuser.password_field :password_confirmation, class:"field", placeholder: 'Confirmation de mot de passe' %> 
                <%= fuser.submit class:"btnlog" %>
                <% end %>
                
            </div>
           
        </div>
        
    </div> 
