<%= form_with(model: @post, local: true, url:choose_new_or_edit) do |form| %>
    <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2> il y a <%= @post.errors.count %> erreurs</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :"Poster un texte et/ou une image" %>
    <%= form.text_field :comment %> 
    <br>
    </div>

    <%= form.file_field :picture %>
    <%= form.hidden_field :picture_cache %>
        <div class="actions">
        <br>
        <br>
        <%= form.submit class:"btnsbt" %>
        <button> <%= link_to "Liste des posts" , posts_path, class:"buttons" %> </button>
    </div>
            
    
<% end %>
