<%= form_with(model: @post, local: true, url:choose_new_or_edit) do |form| %>
    <% content_for :head do %>
    <link rel="stylesheet" href="new.scss">
    <% end %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2> il y a <%= @post.errors.count %> erreurs</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :"Poster un texte et/ou une image" %>
    <%= form.text_field :comment %> 
    <br>
    </div>

    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
        <div class="actions">
        <br>
        <br>
        <%= form.submit %>
    </div>
    <div class="buttons">
        <button> <%= link_to "Liste des posts" , posts_path %> </button>
    </div>
<% end %>
