<p id="notice"><%= notice %></p>
<p>
  <strong>Picture:</strong>
  <% if @post.picture && @post.picture.url %>
  <%= image_tag @post.picture.url , height: "300px" %>
  <% end %>
</p>
<% unless @post.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Supprimer le favori', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Préféré', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_post_path(@post) %> 
<%= link_to 'Back', posts_path %>
