<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
        <ul>
           <li class="left"><a href="#"><strong> Instagram <em>Clone</em></strong></a></li>
        </ul>
        <ul >
            <% if logged_in? %> 
            <li> <%= link_to "Mes favoris", favorites_path, class: "right" %> </li>
           <li> <%= link_to "Profile", user_path(current_user.id), class: "right" %> </li>
            <li><%= link_to "Logout", session_path(current_user.id), method: :delete , class: "right" %></li>

          <% else%> 

            <%= link_to "Sign up", new_user_path %>
            <%= link_to "Login", new_session_path %>
          <% end%>  
        </ul>
    </header>
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class:"#{key}") %>
      <% end %>
  
    <%= yield %>
  </body>
  <footer>
    <div> 
      <ul class="linkfot">
        <li> About</li>
        <li> Blog</li>
        <li> Jobs </li>
        <li> Help </li>
        <li> API </li>
        <li> Privacy </li>
        <li> Terms</li>
        <li>  Top Accounts<li>
        <li> Hashtags </li>
        <li> Locations </li>
        <li> Instagram Lite</li>
      </ul>
     </div>
    <div> </div>
      <p>©Instagram from Facebook</p>
</footer>
</html>
